<script type="text/javascript">
	if( !jQuery.Sports.User.premium ) {
		document.write('<div id="topBanner">');
<!--AdFox START-->
<!--sports.ru-->
<!--Площадка: sports.ru / * / *-->
<!--Тип баннера: 780x90js-->
<!--Расположение: <верх страницы>-->
<!--
if (typeof(pr) == 'undefined') { var pr = Math.floor(Math.random() * 1000000); }
if (typeof(document.referrer) != 'undefined') {
  if (typeof(afReferrer) == 'undefined') {
    afReferrer = escape(document.referrer);
  }
} else {
  afReferrer = '';
}
var addate = new Date(); 
document.write('<scr' + 'ipt type="text/javascript" src="http://ads.adfox.ru/6902/prepareCode?pp=g&amp;ps=fsu&amp;p2=dbe&amp;pct=c&amp;plp=a&amp;pli=a&amp;pop=a&amp;pr=' + pr +'&amp;pt=b&amp;pd=' + addate.getDate() + '&amp;pw=' + addate.getDay() + '&amp;pv=' + addate.getHours() + '&amp;prr=' + afReferrer + '"><\/scr' + 'ipt>');
// -->
<!--AdFox END-->
		document.write('</div>');
	}
</script>



	
	<script type="text/javascript">
	if( !jQuery.Sports.User.premium ) {
		document.write('<div id="fullscreenBanner">');
<!--AdFox START-->
<!--sports.ru-->
<!--Площадка: sports.ru / * / *-->
<!--Тип баннера: Fullscreen-->
<!--Расположение: <верх страницы>-->
<!--
if(!window.getCookie) {
	window.getCookie = function(name) {
		var cookie = " " + document.cookie;
		var search = " " + name + "=";
		var setStr = null;
		var offset = 0;
		var end = 0;
		if (cookie.length > 0) {
			offset = cookie.indexOf(search);
			if (offset != -1) {
				offset += search.length;
				end = cookie.indexOf(";", offset)
				if (end == -1) {
					end = cookie.length;
				}
				setStr = unescape(cookie.substring(offset, end));
			}
		}
		return(setStr);
	}
}
if(!getCookie('prm')) {
if (typeof(pr) == 'undefined') { var pr = Math.floor(Math.random() * 1000000); }
if (typeof(document.referrer) != 'undefined') {
if (typeof(afReferrer) == 'undefined') {
afReferrer = escape(document.referrer);
}
} else {
afReferrer = '';
}
var addate = new Date();
document.write('<scr' + 'ipt type="text/javascript" src="http://ads.adfox.ru/6902/prepareCode?pp=g&amp;ps=fsu&amp;p2=wnu&amp;pct=a&amp;plp=a&amp;pli=a&amp;pop=a&amp;pr=' + pr +'&amp;pt=b&amp;pd=' + addate.getDate() + '&amp;pw=' + addate.getDay() + '&amp;pv=' + addate.getHours() + '&amp;prr=' + afReferrer + '"><\/scr' + 'ipt>');
}
// -->
<!--AdFox END-->
		document.write('</div>');
	}
</script>


	
	<noindex>
	<!--script language="javascript">
		$.ajax({
			url: '/ajax/user/menu.html',
			success: function(data) {
				$('#user_menu').html(data);
			}
		});
	</script-->
</noindex>

	
	<!-- begin of Top100 code -->
<script id="top100Counter" type="text/javascript" src="http://counter.rambler.ru/top100.jcn?44833"></script>
<noscript>
<img src="http://counter.rambler.ru/top100.cnt?44833" alt="" width="1" height="1" border="0" />
</noscript>
<!-- end of Top100 code -->